<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

  <!-- Root Context Configuration -->
  <context:component-scan base-package="com.example.controller"/>

  <!-- DispatcherServlet Configuration -->
  <!--  Not sure why this is needed-->
  <bean id="dispatcherServlet" class="org.springframework.web.servlet.DispatcherServlet">
    <property name="contextConfigLocation" value="/WEB-INF/spring-config.xml"/>
  </bean>

  <!-- Enable Annotation Support -->
  <!--  not sure if this is needed if we already have context-->
  <mvc:annotation-driven/>

</beans>